@{
    ViewBag.Title = "_PartialMarkEntryForm";
}

<div class="row-fluid">
      
    <h3 class="page-title">
        <span style="float: right">
          @*   Exam  @Html.DropDownListFor(x => x.ExamId, Model.ExamList, new { @class_id = ViewBag.Class_Id, subject_id = ViewBag.Subject_Id })*@
        </span>
        <div class="clearfix"></div>
        <div class="social-box">
            <div class="body">
                Exam Mark Entry
            </div>
        </div>
    </h3>
       
</div>

<div class="row-fluid">
    <div class="social-box">
        <table class="table table-condensed">
            <b>
            The Exam Routine  wasn't published yet.
          </b>
        </table>
        <div class="clearfix">
        </div>
    </div>
</div>