@{
    ViewBag.Title = "Calendar";
}
<script src="../../Content/themes/js/plugins/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<link href="../../Content/themes/css/fullcalendar.css" rel="stylesheet" type="text/css" />
<link href="../../Content/themes/css/fullcalendar.print.css" rel="stylesheet" type="text/css" />
<div id="modalbox-eventdetail" style="display: none">
    <div class="block" style="padding: 0;">
    </div>
</div>

<div class="workplace">
   
        
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <h1 align="center">
                      Academic  Calendar</h1>
                    @*                       <ul class="buttons">
                        <li><a href="#" class="isw-plus addevent"></a></li>
                    </ul>*@
                    <div class="clear">
                    </div>
                </div><div class="social-box">
                <div class="body">
                <div class="block-fluid">
                    <div id="calender-main">
                        <div class="views">
                            <span class="change-month">Change Month</span>
                        </div>
                        <div id="calendar">
                        </div>
                    </div>
                </div>
            </div></div> 
        </div>
    </div>
</div>
<div class="dialog" id="Eventid" style="display: none;" title="Add Event">
    <div class="block">
    </div>
</div>

<script type="text/javascript">
    
    $("#modalbox-eventdetail").dialog({
        autoOpen: false

    });

    $(document).ready(function () {
        $('#calendar').fullCalendar({
                events: "/StudentProfile/GetEvents",
                editable: true,
                timeFormat: 'H:M',
                columnFormat: { month: 'dddd' },
                eventClick: function (calEvent) {
                    var eventid = calEvent.id;
                    var eventTitle = calEvent.title;
                    $("#modalbox-eventdetail .block").html("")
                        .dialog("option", "title", eventTitle)
                        .load("/home/EventDetailDialog/" + eventid, function () { $("#modalbox-eventdetail").dialog("open"); });
                }
            }
        );
    });

    function padDigits(n, totalDigits) {
        n = n.toString();
        var pd = '';
        if (totalDigits > n.length) {
            for (i = 0; i < (totalDigits - n.length); i++) {
                pd += '0';
            }
        }
        return pd + n.toString();
    }



    $("#Eventid").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                $("#Employeetypeform-id").submit();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });


    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="#">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }

    function getRequest(url) {
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#Eventid .block').html(data);
                $(this).addClass("done");
                $("#Eventid").dialog('open');
                $.unblockUI();
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }


    $('.addevent').live('click', function () {
        var url = '@Url.Action("EventAdd", "Home")';
        $.blockUI({
            message: 'Please Wait..',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#fff',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                color: '#000'
            }
        });
        getRequest(url);
        return false;
    });

    function OnComplete(data) {
        if (data == "True") {
            $("#Eventid .block").load("/Home/EventAdd");
            $("#Bus-list").load("/Home/Calendar");
            $.unblockUI();
        } else {
            $.unblockUI();
        }

    }

    function OnCompleteEdit(data) {
        if (data == "True") {
            $.unblockUI();
            $("#Eventid").dialog("close");
            $("#Bus-list").load("/Home/Calendar");
        } else {
            $.unblockUI();
        }

    }

//    $('.editLeaveRequest').live('click', function () {
//        var degreeId = $(this).attr("data-id");
//        var url = '@Url.Action("EmployeeLoanEdit", "Employee")?Id=' + degreeId;
//        $.blockUI({
//            message: 'Please Wait..',
//            css: {
//                border: 'none',
//                padding: '15px',
//                backgroundColor: '#fff',
//                '-webkit-border-radius': '10px',
//                '-moz-border-radius': '10px',
//                color: '#000'
//            }
//        });
//        getRequest(url);
//        return false;
//    });

</script>