@model KRBAccounting.Domain.Entities.User
@{
    ViewBag.Title = "Student Information";
    Layout = "_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<link href="/Content/social/assets/js/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<script src="/Content/social/assets/js/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
<div class="row-fluid social-box hide" id="user-edit" style="display: block;">
    <div class="body">
        <div class="row-fluid">
            <div class="span6">
                <div class="heading">
                    <h4 class="form-heading">
                        Change student Data</h4>
                </div>
                <div class="body">
                    @Html.Partial("UserInfo", Model)
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="heading">
                    <h4 class="form-heading">
                        Change Password</h4>
                </div>
                <div class="body">
                    @Html.Partial("ChangePassword", new KRBAccounting.Web.ViewModels.ChangePasswordModel())
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">


    function OnsuccessUserInfo(data) {

        if (data == "true") {
            window.location.reload(true);

        }
        else {

            $("#MsgErrorUserInfo").html(data);
        }

    }
    function OnsuccessChangePassword(data) {
        if (data == "true") {
            window.location.reload(true);
        }
        else {

            $("#MsgErrorChangepassword").html(data);
        }

    }
   


</script>
