<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("ExamRoutine", "Report")"><span class="text" action="ExamRoutine">
            Exam Routine</span> </a></li> |
        <li><a href="@Url.Action("ExamMarkSetup", "Report")"><span class="text" action="ExamMarkSetup">
            Exam Marks SetUp</span> </a></li>
    </ul>
</div>
