<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("PrintingMonthlyBill", "Report")"><span class="text" action="PrintingMonthlyBill">
            MonthlyBill</span> </a></li>
        <li>|</li>
        <li><a href="@Url.Action("PrintingFeeReceipt", "Report")"><span class="text" action="PrintingFeeReceipt">
            Fee Receipt</span> </a></li>
    </ul>
</div>
