@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Report.ReportBoaderListReportViewModel

<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table class="listpopup" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th>
                    S.no.
                </th>
                <th>
                    Code
                </th>
                <th>
                    Description
                </th>
                <th>
                    Fee Item
                </th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.BoaderList)
        {
            <tr>
                <td>@i
                </td>
                <td>@item.Code</td>
                <td>
                    @item.Description
                </td>
                <td>@if(item.FeeItem!=null){
                    @item.FeeItem.Description}
                </td>
            </tr>
            i++;
        }
    </table>
</div>
