<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("ClassFeeRate", "Report")"><span class="text" action="ClassFeeRate">
                                                                Class Fee Rate</span> </a></li> 
        <li>|</li>
       <li><a href="@Url.Action("StudentFeeRate", "Report")"><span class="text" action="StudentFeeRate">
                                                                Student Fee Rate</span> </a></li> 
    </ul>
</div>
