@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Report.ReportFeeListReportViewModel

<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
    <table class="listpopup" cellspacing="0" cellpadding="0" width="100%">
        <thead>
            <tr>
                <th>
                    S.N.
                </th>
                <th>
                    Code
                </th>
             
                <th>
                    Description
                </th>
               
                <th>
                  Memo
                </th>
              
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.FeeList)
        {
            <tr>
                <td style="text-align:center">@i
                </td>
                <td style="text-align:center">
                    @item.Code
                </td>
              
                <td style="text-align:center">
                    @item.Description
            </td>
             
                <td style="text-align:center">
                    @item.Memo
                </td>

            </tr>
            i++;
        }
    </table>
</div>
