@model KRBAccounting.Web.ViewModels.Report.ReportExamAttendanceFormViewModel
@{
    ViewBag.Title = "Exam Wise Attendance";
}
@Html.Partial("_PartialStudentReportBreadCrumb")
<div class="workplace">
    <div class="row-fluid">
        <div class="span12">
            <div class="head">
                <h1>
                    Exam Wise Attendance</h1>
                <ul class="buttons">
                    <li><a href="javascript:void(0)" id="generate_report" title="Generate New Report"
                        class="isw-refresh"></a></li>
                    <li><a href="@Url.Action("PdfExaminationAttendance", "Report")" target="_blank" title="Export to Pdf" class="isw-pdf" >
                    </a></li>
                    <li><a href="@Url.Action("ExcelExaminationAttendance", "Report")" target="_blank" title="Export to Excel" class="isw-excel">
                    </a></li>
                    <li><a id="print" title="Print" class="isw-print"></a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div id="report" class="block-fluid">
            </div>
        </div>
    </div>
</div>
<div class="dialog height-170" id="modalReportForm">
    <div class="block">
        @Html.Partial("_PartialExamAttendanceForm", Model)</div>
</div>
<script type="text/javascript">
    $("#modalReportForm").dialog({
        autoOpen: true,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                Begin();
                Save();
               // $.unblockUI();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    $(document).ready(function () {
        $("#DateFrom,#DateTo").mask("99/99/9999");
        $("#modalReportForm").dialog('open');
        $("#generate_report").live("click", function () {
            $("#modalReportForm").dialog('open');
        });

    });

    function Save() {


        var form = $("#report-form");
        var url = form.attr("action");
        Begin();
        $.ajax({
            url: url,
            data: form.serialize(),
            datatype: "JSON",
            type: "POST",
            error: function () {

                alert("An error occurred.");
                $.unblockUI();
            },
            success: function (data) {

                $("#report").html(data.view);

                $("#modalReportForm").dialog("close");
                $.unblockUI();

            }
        });
    }
</script>
