@using KRBAccounting.Enums
@using KRBAccounting.Service
@using KRBAccounting.Service.Helpers
@model KRBAccounting.Web.ViewModels.Report.ReportBusStopListReportViewModel

<link rel="stylesheet" type="text/css" media="print" href="/Content/Style.css" />
<link rel="stylesheet" type="text/css" media="print" href="/Content/bootstrap/css/bootstrap.css" />
<div class="clearfix">
</div>
<div class="ReportHeader" style="text-align: center">
    @Html.Partial("_PartialReportHeader", Model.ReportHeader)
</div>
<div class="ReportList">
   <table border="0.5" style="font-size: 8px;">

        <thead>
           <tr bgcolor="#E6EEEE" align="center" style="font-weight: bold">
                <th width="5%">
                    S.N.
                </th>
                <th>
                    Description
                </th>
                <th>
                   Memo
                </th>
            </tr>
        </thead>
        @{
            var i = 1;
        }
        @foreach (var item in Model.BusStopsList)
        {
            <tr align="center">
                <td>@i
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Memo
                </td>
            </tr>
            i++;
        }
    </table>
</div>
