@using KRBAccounting.Service.Models
@{
    ViewBag.Title = "School-buildings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userRight = (UserRight)ViewBag.UserRight;
}

<div class="workplace">
    <div id="ledger-list">
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <div class="isw-grid">
                    </div>
                    <h1>
                        Buildings/Block List</h1>
                    <ul class="buttons">
                        @if(userRight.Create)
                        {
                            <li><a href="#" class="isw-plus addBuildings"></a></li>
                        }
                      
                    </ul>
                      <div style="margin-top: 4px; float: right;" class="input-append ">
                        <input type="text" style="height: 22px; margin: 4px;" class="input-150 searchText">
                        <a style="margin: 3px -1px 0px -5px; height: 16px;" class="btn  SearchBuilding"><i class="isw-zoom" style="margin: 0px; padding: 5px; height: 10px;"></i></a>
                        </div>
                    <div class="clear">
                    </div>
                </div>
                <div id="Building-list">
                  @Html.Action("ListBuildings")
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dialog" id="modalSchBuilding" style="display: none;" title="Buildings">
    <div class="block">
    </div>
</div>

<div class="dialog" id="modalSchBuildingEdit" style="display: none;" title="Buildings">
    <div class="block">
    </div>
</div>



<script type="text/javascript">
    $("#modalSchBuilding").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function() {
                $("#building-frm").submit();
                Begin();
            },
            Cancel: function() {
                $(this).dialog("close");
            }
        }
    });

    $("#modalSchBuildingEdit").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function() {
                //$("#building-frm").submit();
                $("#edit-building-form").submit();
                Begin();
            },
            Cancel: function() {
                $(this).dialog("close");
            }
        }
    });

    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="#">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }

    function getRequest(url) {
        $.ajax({
            url: url,
            context: document.body,
            success: function(data) {
                $('#modalSchBuilding .block').html(data);
                $(this).addClass("done");
                $("#modalSchBuilding").dialog('open');
                $.unblockUI();
            },
            error: function(err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    function getRequestEdit(url) {
        //alert(url);
        $.ajax({
            url: url,
            context: document.body,
            success: function(data) {
                $('#modalSchBuildingEdit .block').html(data);
                $(this).addClass("done");
                $("#modalSchBuildingEdit").dialog('open');
                $.unblockUI();
            },
            error: function(err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    $('.addBuildings').live('click', function () {
        var url = '@Url.Action("AddBuilding", "School")';
        $.blockUI({
            message: 'Please Wait..',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#fff',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                color: '#000'
            }
        });
        getRequest(url);
        return false;
    });

    function OnComplete() {

            $("#modalSchBuilding").load("/School/AddBuilding");
            $("#Building-list").load("/School/ListBuildings");
        $.unblockUI();
    }

    function OnCompleteEdit() {
        $("#modalSchBuildingEdit").dialog("close");
        $("#Building-list").load("/School/ListBuildings");
        $.unblockUI();
    }

    $('a.editSchoolBuilding').live('click', function() {
        var buildingId = $(this).attr("data-id");
        var url = '@Url.Action("EditBuilding", "School")?buildingId=' + buildingId;
        $.blockUI({
            message: 'Please Wait..',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#fff',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                color: '#000'
            }
        });
        getRequestEdit(url);
        return false;
    });


    $('a.deleteBuilding').live('click', function () {
        var result = confirm('Are you sure you want to delete this Building ?');
        if (result) {
            var buildingId = $(this).attr("data-id");
            var url = '@Url.Action("DeleteBuilding", "School")?buildingId=' + buildingId;
            Begin();
            $.getJSON(url, function (data) {
                $.unblockUI();
                if (!data) {
                    alert("This Building is already in use. Cannot delete.");
                } else {
                    $("#Building-list").load("/School/ListBuildings");
                }
            });
            $.unblockUI();
            return false;
        }
        $.unblockUI();
        return false;
    });


    $(".SearchBuilding").live("click", function () {
        var searchText = $(".searchText").val();
        var url = '/AdministrationSearch/BuildingSearch?SearchText=' + searchText;
        $.post(url, function (data) {
            $("#Building-list").html(data);
        });
    });
</script>



