@using KRBAccounting.Service.Models
@{
    ViewBag.Title = "BuildingRoomMappings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userRight = (UserRight)ViewBag.UserRight;
}

<div class="workplace">
    <div id="ledger-list">
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <div class="isw-grid">
                    </div>
                    <h1>
                       Building Room Mappings </h1>
                    <ul class="buttons">
                        @if(userRight.Create)
                        {
                               <li><a href="#" class="isw-plus addBuildingRoomMappings"></a></li>
                        }
                     
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div id="BuildingRoomMappings-list">
                  @Html.Action("BuildingRoomMappingsList")
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dialog" id="modalBuildingRoomMappings" style="display: none;" title="BuildingRoomMappings">
    <div class="block">
    </div>
</div>

<script type="text/javascript">


    $("#modalBuildingRoomMappings").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                Begin();
                $("#form-id").submit();
                checkValidationError();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });



    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="#">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }

    function getRequest(url) {
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#modalBuildingRoomMappings .block').html(data);
                $(this).addClass("done");
                $("#modalBuildingRoomMappings").dialog('open');
                $.unblockUI();
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }



    $('.addBuildingRoomMappings').live('click', function () {Begin();
        var url = '@Url.Action("BuildingRoomMappingAdd", "School")';
        
        getRequest(url);
        return false;
    });

    function OnComplete() {

        $("#BuildingRoomMappings-list").load("/School/BuildingRoomMappingsList");
        $('#modalBuildingRoomMappings').dialog("close");
        $.unblockUI();
    }
    function OnCompleteEdit() {

        $("#BuildingRoomMappings-list").load("/School/BuildingRoomMappingsList");
        $('#modalBuildingRoomMappings').dialog("close");
        $.unblockUI();
    }

    function success(data) {
        Begin();
  
        if (data == "True") {
            OnComplete();
        }
        else {
            $.unblockUI();
            alert(data);
        }
    }
    function successEdit(data) {
        Begin();
        if (data == "True") {
            OnCompleteEdit();
        } else {
            alert(data);
        }
    }

    $('.editSchBuildingRoomMapping').live('click', function () {
        var BuildingRoomMappingsId = $(this).attr("data-id");
        var url = '@Url.Action("BuildingRoomMappingEdit", "School")?buildingroommappingId=' + BuildingRoomMappingsId;
        Begin();
        getRequest(url);
        return false;
    });

</script>



