@{
    ViewBag.Title = "Event Details";
}

@model KRBAccounting.Domain.Entities.ScCalendarEvent

@*
<h2>Event Detalis</h2>*@
<p>
    <b>Leave:</b>  @Model.Title<br/>
    <b>Description:</b> @Model.Description
   
</p>
