@using KRBAccounting.Domain.Entities
@using KRBAccounting.Web.ViewModels.School
@model IEnumerable<KRBAccounting.Domain.Entities.ScClassSchedule>
@{
    var sno = 1;
}
@foreach (var item in Model)
{
    <tr class="listsubject" id="@sno">
        @using (Html.BeginCollectionItem("busRouteInfoList"))
        {
            <td>@sno
            </td>
            <td>
                @item.Subject.Description
            </td>
           {
               var model = new ScClassScheduleViewModel();
               model.SubjectId = item.SubjectId;
               model.SundayStartTime = item.ScheduleDetail.First(x => x.Day == "Sunday").StartTime;
               model.SundayEndTim = item.ScheduleDetail.First(x => x.Day == "Sunday").EndTime;
               model.MondayStartTime = item.ScheduleDetail.First(x => x.Day == "Monday").StartTime;
               model.MondayEndTime = item.ScheduleDetail.First(x => x.Day == "Monday").EndTime;
               model.TuesdayStartTime = item.ScheduleDetail.First(x => x.Day == "Tuesday").StartTime;
               model.TuesdayEndTime = item.ScheduleDetail.First(x => x.Day == "Tuesday").EndTime;
               model.WednesdayStartTime = item.ScheduleDetail.First(x => x.Day == "Wednesday").StartTime;
               model.WednesdayEndTime = item.ScheduleDetail.First(x => x.Day == "Wednesday").EndTime;
               model.ThursdayStartTime = item.ScheduleDetail.First(x => x.Day == "Thursday").StartTime;
               model.ThursdayEndTime = item.ScheduleDetail.First(x => x.Day == "Thursday").EndTime;
               model.FridayStartTime = item.ScheduleDetail.First(x => x.Day == "Friday").StartTime;
               model.FridayEndTime = item.ScheduleDetail.First(x => x.Day == "Friday").EndTime;
               model.Sno = sno;
                
            @Html.Partial("_PartialclassscheduleAdd", model)
           }

        }
    </tr>
        sno++;
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".StartTime, .EndTim").timepicker({
            'timeFormat': 'h:i A',
            'step': 15,
            'minTime': '8:00am',
            'maxTime': '7:00pm',
            'showDuration': true,
            'forceRoundTime': true
        });
    });

    $(".StartTime").live("change", function () {
        var day = $(this).attr("day");
        var element = $(this).closest("tr");
        var id = element.attr("id");
        var value = $(this).closest("tr").find("." + day + ".StartTime").val();
        $("." + id + "." + day + ".StartTime," + "." + day + ".EndTim").timepicker({
            'timeFormat': 'h:i A',
            'step': 15,
            'maxTime': '7:00pm',
            'showDuration': true,
            'forceRoundTime': true
        });
        $("." + id + "." + day + ".StartTime," + "." + id + "." + day + ".EndTim").timepicker('option', 'minTime', value);
    });


    $(".EndTim").live("change", function () {
        var day = $(this).attr("day");
        var element = $(this).closest("tr");
        var value = element.find("." + day + ".EndTim").val();
        if (element.is(":last-child")) {
            element.next("tr").find("." + day + ".StartTime").val(value);
            var id = element.next("tr").attr("id");
            $("." + id + "." + day + ".StartTime," + "." + id + "." + day + ".EndTim").timepicker({
                'timeFormat': 'h:i A',
                'step': 15,
                'maxTime': '7:00pm',
                'showDuration': true,
                'forceRoundTime': true
            });
            $("." + id + "." + day + ".StartTime," + "." + id + "." + day + ".EndTim").timepicker('option', 'minTime', value);
        }
    });
</script>
