@using KRBAccounting.Service.Models
@{
    ViewBag.Title = "Subject";
    var userRight = (UserRight)ViewBag.UserRight;
}

<div class="workplace">
    <div id="ledger-list">
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <div class="isw-grid">
                    </div>
                    <h1>
                        Subject List</h1>
                    <ul class="buttons">
                        @if (userRight.Create)
                        {
                            <li><a href="#" class="isw-plus addScSubject"></a></li>
                        }
                      
                    </ul>
                      <div style="margin-top: 4px; float: right;" class="input-append ">
                        <input type="text" style="height: 22px; margin: 4px;" class="input-150 searchText">
                        <a style="margin: 3px -1px 0px -5px; height: 16px;" class="btn  SubjectSearch"><i class="isw-zoom" style="margin: 0px; padding: 5px; height: 10px;"></i></a>
                        </div>


                    <div class="clear">
                    </div>
                </div>
                <div id="subject-list">
                    @Html.Action("SubjectList")
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="modalsubject" style="display: none;" title="Subject(+)">
    <div class="block">
    </div>
</div>
<script type="text/javascript">
    $("#modalsubject").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Ok": function () {
                $("#form-id").submit();
                $.blockUI();

            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });
    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="javascript:void(0);">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }
    function getRequest(url) {
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#modalsubject .block').html(data);
                $(this).addClass("done");
                $("#modalsubject").dialog('open');
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    $('a.addScSubject').live('click', function () {
        var url = '@Url.Action("SubjectAdd", "School")';
        getRequest(url);

        return false;
    });
    $('a.editScSubject').live('click', function () {
        var id = $(this).attr("data-id");
        var url = '@Url.Action("SubjectEdit", "School")/' + id;
        getRequest(url);
        return false;
    });

    $('a.deleteScSubject').live('click', function () {
        var result = confirm('Are you sure you want to delete this Subject ?');
        if(result) {
            var id = $(this).attr("data-id");
            var url = '@Url.Action("SubjectDelete", "School")/' + id;
            $.getJSON(url, function (data) {
                if (!data) {
                    alert("This subject is already in use. Cannot delete.");
                } else {
                    $("#subject-list").load("/School/SubjectList");
                }
            });
            return false;
        }

    });

    function OnComplete() {
        $.blockUI();

        $('#modalsubject .block').load("/School/SubjectAdd");
        $("#subject-list").load("/School/SubjectList");
        $.unblockUI();
    }
    function OnCompleteEdit() {

        $.blockUI();
        $("#subject-list").load("/School/SubjectList");
        $('#modalsubject').dialog("close");
        $.unblockUI();
    }

    function success(data) {
        if (data == "True") {
            OnComplete();
        }
        else {
            alert(data);
        }
    }
    function successEdit(data) {
        if (data == "True") {
            OnCompleteEdit();
        }
        else {
            alert(data);
        }
    }
    $(".SubjectSearch").live("click", function () {
        var searchText = $(".searchText").val();
        var url = '/AcademySearch/SubjectSearch?SearchText=' + searchText;
        $.post(url, function (data) {
            $("#subject-list").html(data);
        });
    });
</script>
