

@*<a href="#" title="Company"><img src="~/Content/img/company.png" /></a>*@
<div class="widgetButtons" style="padding: 145px;">
    <div class=" bb"><a href="/Management/Company" title="Company"><img src="~/Content/img/company.png" /></a></div>
    <div class="bb">
        <a href="/Management/ManualBackUp" title="Backup"><span class="ibw-folder"></span></a>
        @*<div class="caption red">31</div>*@
    </div>
    <div class="bb"><a href="/Management/RollNumberingScheme" title="Roll Numbering Scheme"><span class="ibw-plus"></span></a></div>
    <div class="bb"><a href="/Setup/FiscalYear" title="Fiscal Year"><span class="ibw-favorite"></span></a></div>
    <div class="bb">
        <a href="/Setup/SystemControl" title="System Control"><span class="ibw-settings"></span></a>
        @*<div class="caption green">31</div>*@
    </div>
    <div class="bb"><a href="/Setup/DocumentNumbering" title="Document Numbering"><img src="~/Content/img/document.png" /></a></div>
    <div class="bb"><a href="/User/Users" title="User Master"><img src="~/Content/img/friend_finder.png" /></a></div>
    <div class="bb"><a href="/Setup/StudentRegistrationNumbering" title="Student Registration Numbering"><img src="~/Content/img/StudentRegistrationNumbering.png" /></a></div>
    <div class="bb"><a href="/Setup/AcademicYear" title="Academic Year"><img src="~/Content/img/calendar_year.png" /></a></div>
</div>
