@using System.Web.Script.Serialization
@model KRBAccounting.Web.ViewModels.Entry.SalesInvoiceViewModel
@{
    ViewBag.Title = "Sales Invoice";
}
<div class="workplace">
   
        <div class="row-fluid">
            <div class="span12">
                <div class="head">
                    <div class="isw-grid">
                    </div>
                    <h1>
                         Template</h1>
                    <ul class="buttons">
                     <li><a href="@Url.Action("DesignTemplate")" class="isw-plus"></a></li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="block">
                   
                        @Html.Action("DesignList")
                        <div class="clear">
                        </div>
                   
                </div>
            </div>
        </div>
        <div class="dr">
            <span></span>
        </div>
    </div>

