@{
    ViewBag.Title = "Document Numeric Scheme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    <a href="javascript:void(0);" class="btn addDocNumScheme">New(+)</a>
</p>*@
<div id="DocNumScheme-list">
    @Html.Action("DocumentNumberingSchemeList")
</div>
<div class="dialog" id="modalDocNumScheme" title="Document Numeric Scheme">
    <div class="block"></div>
</div>
<script type="text/javascript">
    function Begin() {
        $.blockUI({
            message: 'Please Wait..',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#fff',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                color: '#000'
            }
        });
    }
    function writeError(control, msg) {
        var err_msg = '<div class="alert-message error"><a class="close" href="#">×</a><p>' + msg + '</p></div>';
        $('#' + control).html(err_msg);
    }
    $("#modalDocNumScheme").dialog({
        autoOpen: false,
        modal: true,
        width: 'auto',
        buttons: {
            "Save": function () {
                if (CheckCurrnum()) {
                    
                    $("#document-numering-form").submit();

                    Begin();
                }

            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });
    function getRequest(url) {
        $.ajax({
            url: url,
            context: document.body,
            success: function (data) {
                $('#modalDocNumScheme .block').html(data);
                $(this).addClass("done");
                $("#modalDocNumScheme").dialog('open');
                $.unblockUI();
            },
            error: function (err) {
                writeError('msgErrorNewLocationDetails', err);
            }
        });
    }

    $('a.addDocNumScheme').live('click', function () {
        var url = '@Url.Action("DocumentNumberingSchemeAdd", "Setup")';
        Begin();
        getRequest(url);

        return false;
    });
    $('a.editDocNumScheme').live('click', function () {
        var id = $(this).attr("data-id");
        var url = '@Url.Action("DocumentNumberingSchemeEdit", "Setup")/' + id;
        Begin();
        getRequest(url);

        return false;
    });

    $('#saveDocNumScheme').live('click', function () {
        $("#document-numering-form").submit();
        Begin();
    });
    function CheckCurrnum() {
        var startno = parseInt($("#DocumentNumberingScheme_DocStartNo").val());
        var endno = parseInt($("#DocumentNumberingScheme_DocEndNo").val());
        var currno = parseInt($("#DocumentNumberingScheme_DocCurrNo").val());
        //alert(startno); alert(endno); alert(currno);
        if (startno > endno) {
            alert("End Number Must Be Greater Than Start Number");
            e.preventDefault();
            return false;
        }
        if (startno <= currno && currno <= endno) {
            //alert(1);
            return true;
        } else {
            alert("Current Number Must be Between Start Number and End Number");
            return false;
        }

    }
    function OnComplete() {
        $('#modalDocNumScheme .block').load("/Setup/DocumentNumberingSchemeAdd");
        $("#DocNumScheme-list").load("/Setup/DocumentNumberingSchemeList");
        $.unblockUI();
    }
    function OnCompleteEdit() {
        $('#modalDocNumScheme').dialog("close");
        $("#DocNumScheme-list").load("/Setup/DocumentNumberingSchemeList");
        $.unblockUI();
    }

</script>
