<div class="breadLine">
    <ul class="breadcrumb">
    
            <li>@Html.BreadcrumbLink("Setting", "TellerSettingList", "Management")<span class="divider">
                |</span></li>
       
        <li>@Html.BreadcrumbLink("User CashBook", "UserCashBook", "Management")<span class="divider">
            |</span></li>
        <li>@Html.BreadcrumbLink("CheckPoint", "CheckPoints", "Management")<span class="divider">
            |</span></li>
    </ul>
</div>
