GO
/****** Object:  Table [dbo].[ModuleList]    Script Date: 12/02/2013 11:29:20 ******/
DROP TABLE [dbo].[ModuleList]
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 12/02/2013 11:29:19 ******/
ALTER TABLE [dbo].[MenuItem] DROP CONSTRAINT [DF__MenuItem__Catego__7B7B4DDC]
GO
DROP TABLE [dbo].[MenuItem]
GO
/****** Object:  Table [dbo].[MenuItem]    Script Date: 12/02/2013 11:29:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MenuItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [varchar](50) NULL,
	[Controller] [varchar](50) NULL,
	[LinkText] [nvarchar](255) NULL,
	[ModuleId] [int] NULL,
	[ParentId] [int] NULL,
	[Schedule] [int] NULL,
	[ModuleKey] [varchar](50) NULL,
	[CategoryId] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_MenuItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItem] ON
INSERT [dbo].[MenuItem] ([Id], [Action], [Controller], [LinkText], [ModuleId], [ParentId], [Schedule], [ModuleKey], [CategoryId]) VALUES (1, N'Index', N'Home', N'Dashboard', 255, NULL, 1, N'Accounting', 1)
INSERT [dbo].[MenuItem] ([Id], [Action], [Controller], [LinkText], [ModuleId], [ParentId], [Schedule], [ModuleKey], [CategoryId]) VALUES (2, NULL, N'Master', N'Account Master', 105, NULL, 2, N'Accounting', 2)
INSERT [dbo].[MenuItem] ([Id], [Action], [Controller], [LinkText], [ModuleId], [ParentId], [Schedule], [ModuleKey], [CategoryId]) VALUES (3, N'Ledger', N'Master', N'Ledger Master', 1, 2, 1, N'Accounting', 2)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[MenuItem] OFF
/****** Object:  Table [dbo].[ModuleList]    Script Date: 12/02/2013 11:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ShortName] [nvarchar](max) NULL,
 CONSTRAINT [PK_ModuleList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ModuleList] ON
INSERT [dbo].[ModuleList] ([Id], [Name], [ShortName]) VALUES (1, N'Ledger', N'GL')
INSERT [dbo].[ModuleList] ([Id], [Name], [ShortName]) VALUES (2, N'Sub Ledger', N'SL')
INSERT [dbo].[ModuleList] ([Id], [Name], [ShortName]) VALUES (3, N'AccountGroup', N'AG')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[ModuleList] OFF
/****** Object:  Trigger [TR_InsertModuleList]    Script Date: 12/02/2013 11:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[TR_InsertModuleList] On [dbo].[ModuleList]
For Insert
as
Begin
Declare @modid int
select @modid = (select Id From Inserted)
exec SP_InsertModuleForRoles @modid
end
GO
/****** Object:  Trigger [TR_DeleteModuleList]    Script Date: 12/02/2013 11:29:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create trigger [dbo].[TR_DeleteModuleList] On [dbo].[ModuleList]
For Delete
as
Begin
Declare @modid int
select @modid = (select Id From DELETED)
Delete from securityright where ModuleId in(@modid)
end
GO
