@{
    ViewBag.Title = "Purchase";
}
<div class="breadLine">
    <ul class="breadcrumb">
       @* <li><a href="@Url.Action("PurchaseOrder", "ARAP")">Purchase Order</a> <span class="divider">
            |</span></li>
        <li><a href="@Url.Action("PurchaseChallan", "ARAP")">Purchase Challan</a> <span class="divider">
            |</span></li>*@
        <li><a href="@Url.Action("PurchaseSummary", "ARAP")">Purchase Invoice</a> <span class="divider">
            |</span></li>
        <li><a href="@Url.Action("PurchaseReturnSummary", "ARAP")">Purchase Return Invoice</a>
            <span class="divider">|</span></li>
    </ul>
</div>
