@{
    ViewBag.Title = "Sales";
}
<div class="breadLine">
    <ul class="breadcrumb">
       @* <li><a href="@Url.Action("SalesOrderSummary", "ARAP")">Sales Order</a> <span class="divider">
            |</span></li>
        <li><a href="@Url.Action("SalesChallanSummary", "ARAP")">Sales Challan</a> <span class="divider">
            |</span></li>*@
        <li><a href="@Url.Action("SalesSummary", "ARAP")">Sales Invoice</a> <span class="divider">
            |</span></li>
        <li><a href="@Url.Action("SalesReturnSummary", "ARAP")">Sales Return Invoice</a> <span
            class="divider">|</span></li>
    </ul>
</div>
