@{
    ViewBag.Title = "Vat Report";
}
<div class="breadLine">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("SalesRegister", "ARAP")">Sales Register</a> <span class="divider">
            |</span></li>
        <li><a href="@Url.Action("PurchaseRegister", "ARAP")">Purchase Register</a> <span class="divider">
            |</span></li>
    </ul>
</div>
