 @model KRBAccounting.Web.ViewModels.ChangePasswordAdmin
 @using (Ajax.BeginForm("ChangePassword", "User", new { controller = "User" }, new AjaxOptions { HttpMethod = "Post", OnComplete = "$('#User-list').load('/User/UserList'); $.unblockUI();" }, new { @class = "form-horizontal form-custom", id = "pwd-form" }))
 {
     <fieldset>
         <div class="lag">
             <label>
                 Password</label>
             <div class="field form-search">
                 @Html.PasswordFor(a => a.NewPassword)
                 @Html.HiddenFor(a => a.UserId)
             </div>
         </div>
     </fieldset>
 }
@*
﻿@model int
@using (Ajax.BeginForm("ChangePassword", "User", new { controller = "User" }, new AjaxOptions { HttpMethod = "Post", OnComplete = "OnCompleteEdit" }, new { @class = "form-horizontal form-custom", id = "pwd-form" }))
{
    <fieldset>
        <div class="lag">
            <label>
                Password</label>
            <div class="field form-search">
                @Html.Password("newPassword")
                @Html.Hidden("userId", Model)
            </div>
        </div>
    </fieldset>
}*@
