<div class="widgetButtons" style="padding: 145px;">
    <div class=" bb"><a href="/Inventory/ProductBatchSummary" title="Product Batch Summary">
                         <img src="~/Content/img/Productbatch.png" /></a></div>
    <div class="bb">
        <a href="/Inventory/StockLedger" title="Stock Ledger">
<img src="~/Content/img/stockledger.png" /></a>
        @*<div class="caption red">31</div>*@
    </div>
    <div class="bb"><a href="/Inventory/PriceList" title="Price List">
                        <img src="~/Content/img/PriceList.png" /></a></div>
    <div class="bb"><a href="/Inventory/ReOrderStatus" title="Reorder Status">
                        <img src="~/Content/img/SalesReOrder.png" /></a></div>
   
</div>