@model KRBAccounting.Web.ViewModels.Inventory.ProductBatchSummaryFormViewModel
@{
    ViewBag.Title = "Report Studentwise";
}
<div class="workplace">
    <div class="row-fluid">
        <div class="span12">
            <div class="head">
                <h1>
                    Product Batch Summary</h1>
                <ul class="buttons">
                    <li><a href="javascript:void(0)" id="generate_report" title="Generate New Report"
                        class="isw-refresh"></a></li>
                    <li><a href="@Url.Action("PdfProductBatchSummary", "Inventory")" target="_blank" title="Export to Pdf" class="isw-pdf" >
                    </a></li>
                    <li><a href="@Url.Action("ExcelProductBatchSummary", "Inventory")" target="_blank" title="Export to Excel" class="isw-excel">
                    </a></li>
                    <li><a id="print" title="Print" class="isw-print"></a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div id="report" class="block-fluid">
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="modalReportForm">
    <div class="block" >@Html.Partial("_PartialProductBatchSummary", Model)</div>
    
</div>
<div class="dialog" id="modalReportProductList">
    <div class="block" style="height: 350px"></div>
   

</div>
<script type="text/javascript">
    $(document).ready(function () {
        //OpenModal();
        $("#modalReportForm").dialog('open');});
        $("#generate_report").live("click", function () {
            //OpenModal();
            $("#modalReportForm").dialog('open');
        });

        $("#modalReportForm").dialog({
            autoOpen: true,
            modal: true,
            width: 'auto',
            title: 'Product Batch Summary',
            buttons: {
                "OK": function () {
                    $.blockUI();
                   
                    $(".ui-dialog #report-form").submit();
                    $(this).dialog('close');
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
   
    function OpenModal() {
        $('#modalReportForm').modal({
            keyboard: false,
            backdrop: "static"
        }).css({
            width: 'auto',
            'margin-left': function () {
                return -($(this).width() / 2);
            }
        });
    }


    $("#AllProducts").live("click", function () {
        if (!$(this).is(":checked")) {
            // modalshow = false;
            var link = "/Master/GetProductList";
            $.blockUI();
            $.ajax({
                url: link,
                dataType: "json",
                type: "GET",
                error: function () {
                    $.unblockUI();
                    alert("An error occurred.");
                },
                success: function (data) {
                    $.unblockUI();
                    var tableData = CreateTableViewList(data, "table table-boarder", true);
                    $('#modalReportProductList .block').html(tableData);

                    $("#modalReportProductList").dialog({
                        keyboard: false,
                        backdrop: "static",
                        modal: true,
                        buttons: {
                            "Go": function () {

                                //DisplayReport();
                                $(this).dialog("close");
                              
                            },
                            Close: function () {
                                $("#AllProducts").attr("checked", "checked");
                                $(this).dialog("close");
                            }
                        }
                    });

                    selectedGuests.deleteall();
                    $('#modalReportProductList  .selectedRows').html("");
                    $('.selectable-table').tableSelect({
                        onClick: function (row) {
                            //alert(row);
                        },
                        onDoubleClick: function (rows) {

                            $.each(rows, function (i, row) {
                                var name = $(row).children('td').eq(0).attr("ledger-id");
                                if ($(row).hasClass('disabled')) {
                                    $(row).removeClass('disabled');
                                    selectedGuests.remove(name);
                                } else {
                                    $(row).addClass('disabled');
                                    selectedGuests.add(name);
                                }
                            });
                            updateGuestList();
                        },
                        onChange: function (row) {
                            //alert(row);
                        }
                    });
                }
            });
        }
    });

    function updateGuestList() {
        $('.ui-dialog #modalReportForm .selectedRows').html('');
        $.each(selectedGuests.list, function () {
            $('.ui-dialog #modalReportForm .selectedRows').append('<input type="hidden" name="product" value="' + this + '" />');
        });
    };

    var selectedGuests = function () {
        var instance = this;
        if (!this.list) {
            this.list = [];
        }
        this.add = function (row) {
            list.push(row);
        };
        this.remove = function (row) {
            for (var i = 0; i < list.length; i++) {
                if (list[i] == row) {
                    this.list.splice(i, 1);
                }
            }
        };
        this.deleteall = function () {
            this.list = [];
        };
        return (instance);
    } ();


   
</script>
