@model KRBAccounting.Web.ViewModels.LedgerReport.CashFlowViewModel
@{
    ViewBag.Title = "CashBankBook";
}
<div class="workplace">
    <div class="row-fluid">
        <div class="span12">
            <div class="head">
                <h1>
                    Cash Flow</h1>
                <ul class="buttons">
                    <li><a href="javascript:void(0)" id="generate_report" title="Generate New Report"
                        class="isw-refresh"></a></li>
                    <li><a href="@Url.Action("PdfCashFlowReport", "ReportLedger")" target="_blank" title="Export to Pdf" class="isw-pdf" >
                    </a></li>
                    <li><a href="@Url.Action("ExcelCashFlowReport", "ReportLedger")" target="_blank" title="Export to Excel" class="isw-excel">
                    </a></li>
                    <li><a id="print" title="Print" class="isw-print"></a></li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div id="report" class="block-fluid">
            </div>
        </div>
    </div>
</div>
<div class="dialog" id="modalReportForm">
    <div class="block">
        @Html.Partial("_PartialCashFlowReportForm", Model)
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#generate_report").live("click", function () {
            $("#modalReportForm").dialog('open');
        });

        $("#saveForm").live("click", function () {
            $("#report-form").submit();
        });

        $("#modalReportForm").dialog({
            autoOpen: true,
            modal: true,
            width: 'auto',
            title: 'Cash Flow',
            buttons: {

                "Ok": function () {
                    // Begin();
                    $("#report-form").submit();
                    $(this).dialog("close");
                    // $.unblockUI();
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    });


    function OpenModal() {
        $('#modalReportForm').modal({
            keyboard: false,
            backdrop: "static"
        }).css({
            width: 'auto',
            'margin-left': function () {
                return -($(this).width() / 2);
            }
        });
    }

</script>