@model KRBAccounting.Web.ViewModels.ReportHeader
<table width="100%" style="font-size: 15px;">
    
    <tr align="center">
      
        <td colspan="3">
          
            <b>@Model.CompanyName</b><br/>
            @Model.CompanyAddress<br/><b>@Model.ReportTitle</b><br/>@Model.ReportDate
        </td>
       
    </tr >
     
</table>