@model KRBAccounting.Web.ViewModels.ReportHeader
<table width="100%">
    
    <tr align="center" style="font-size: 8px;">
        
        <td>
          
            <b>@Model.CompanyName</b><br/>
            @Model.CompanyAddress<br/><b>@Model.ReportTitle</b><br/>@Model.ReportDate
        </td>
        
    </tr >
     
</table>
